* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-pro {
    width: 400px;
    margin: auto;
}

.pagination > * {
    color: black;
    margin: 0 5px;
}

.active {
    color: red;
}